.bill_text {
  color: #4675ac;
  font-size: 0.9em;
  margin-top: 15%;
}
.small_bg {
  width: 62px;
  height: 20px;
  border-radius: 50%;
  background-color: #d6dcf05c;
  position: relative;
  bottom: -44px;
  left: 16px;
  z-index: -1;
}
.cards {
  width: 100%;
  height: 150px;
  border-radius: 18px;
}
.boxes_line {
  border-radius: 10px;
  min-height: 50px;
  padding: 7px;
  background-color: #f7a2a6;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.text-line {
  font-size: 0.7em;
  text-transform: capitalize;
  margin-top: 10px;
}

body {
  height: 3000px;
  background-color: #c9d3ee;
  $colorBorder: #e6e9fb;
  .phone_1 {
    border: 2px solid white;
    position: relative;
    min-height: 700px;
    border-radius: 40px;
    .border_inner {
      position: relative;
      background-color: #f8faff;
      border: 10px solid $colorBorder;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 40px;
      padding: 10px;
      .img_persone {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #212529;
      }
      .title_services {
        font-size: 1.5em;
        color: #4675ac;
      }
      .box {
        box-shadow: 0 0 8px #c9d3ee;
        border-radius: 10px;
        min-height: 100px;
        z-index: 20;
        &.mr_one {
          margin-right: 1px;
          margin-left: 14px;
        }
        .building {
          font-size: 2em;
          z-index: 10;
        }
        .fa-mobile {
          font-size: 3em;
        }
        .bg_circle {
          @extend .small_bg;
        }
        .mob_circle {
          @extend .small_bg;
          bottom: -51px;
          left: 16px;
        }
      }
      footer {
        background-color: #eceffa;
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0;
        height: 65px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 27px;
        .center_circle {
          background-color: #f8faff;
          width: 55px;
          height: 55px;
          border-radius: 100px;
          position: relative;
          top: -35px;
          left: 10px;
          cursor: pointer;
          &:after {
            content: '+';
            background-color: #f8faff;
            position: absolute;
            top: 1px;
            left: 4px;
            width: 47px;
            height: 47px;
            border-radius: 50%;
            border: 2px solid #000;
            font-size: 2em;
            line-height: 36px;
          }
        }
        .size_icon {
          font-size: 1.6em;
        }
      }
      // Start Second Row
      .my_card_text {
        font-weight: bold;
        font-size: 1.3em;
        color: #4675ac;
      }
      .circle_plus {
        box-shadow: 0 0 7px #c9d3ee;
        width: 40px;
        height: 40px;
        float: right;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        cursor: pointer;
        .plus_icon_color {
          color: #4675ac;
        }
      }
      .card_all {
        padding: 10px;
        position: relative;
        .card_1 {
          transform: rotate(6deg);
          background-color: #f7a2a6;
          z-index: 1;
          height: 140px;
          @extend .cards;
        }
        .card_2 {
          transform: rotate(-10deg);
          background-color: #4171ab;
          z-index: 1;
          position: absolute;
          top: 0;
          left: 21px;
          width: 80%;
          height: 140px;
          @extend .cards;
        }
        .card_3 {
          transform: rotate(-30deg);
          background-color: #fff;
          z-index: 1;
          position: absolute;
          top: -32px;
          left: -29px;
          width: 82%;

          @extend .cards;
        }
        .carde_text {
          color: #4675ac;
          font-weight: bold;
          font-size: 0.9em;
          text-transform: capitalize;
        }
        .div {
          width: 48px;
          height: 32px;
          border: 1px solid #4675ac;
          border-radius: 5px;
          position: relative;
          .bar_one {
            position: absolute;
            left: 29px;
            top: 5px;
            font-size: 1.2em;
            width: 100%;
            height: 100%;
          }
          .bar_two {
            text-align: right;
            float: right;
            position: absolute;
            left: 1px;
            top: 5px;
            font-size: 1.2em;
          }
        }
        .m_top {
          position: relative;
          top: 20px;
          .start {
            color: #4675ac;
            font-weight: bold;
          }
        }
        .fa-circle {
          font-size: 1.5em;
          &:nth-child(1) {
            margin-left: -5px;
            color: #ffadad;
          }
          &:nth-child(2) {
            margin-left: -14px;
            color: #4675ac7a;
          }
        }
      }
      .line {
        .box_1 {
          @extend .boxes_line;
          .repeat_icon {
            font-size: 0.8em;
          }
          .pay_text {
            @extend .text-line;
          }
        }
        .box_2 {
          @extend .boxes_line;
          box-shadow: 0 0 6px #ddd;
          background-color: transparent;
          color: #4675ac;

          .repeat_icon {
            font-size: 0.8em;
          }
          .pay_text {
            @extend .text-line;
          }
          &:hover {
            background-color: #f7a2a6;
            color: white;
          }
        }
      }
      .slide_box {
        height: 262px;
        position: relative;
        padding: 15px;
        border: 2px solid #fff;
        border-radius: 15px;
        background-color: #eceffa87;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        .line_small {
          position: absolute;
          top: 10px;
          left: 40%;
          width: 20%;
          height: 3px;
          background-color: #ddd;
          border-radius: 10px;
        }
        .search_title {
          margin-top: 4%;
          .title_recent {
            font-weight: bold;
            color: #4675ac;
            margin-top: 20px;
          }
        }
        .icon_left {
          width: 50px;
          height: 50px;
          border: 1px solid #4675ac;
          border-radius: 50%;
          text-align: center;
          line-height: 51px;
          .fa-ticket,
          .fa-shopping-bag {
            font-size: 1.4em;
            color: #4675ac;
          }
          .fa-heart {
            color: #ffa4a4;
            font-size: 1.3em;
          }
        }
        .text_slide {
          position: relative;
          top: -51px;
          left: 66px;
          .bill_pay {
            font-size: 0.9em;
            font-weight: bold;
            color: #4675ac;
          }
          .hour {
            font-size: 0.8em;
            color: #777;
            position: relative;
            top: -5px;
          }
        }
        .price {
          color: #ffadad;
          font-weight: bold;
        }
        .top_m {
          position: relative;
          top: -31px;
        }
        .top_mm {
          position: relative;
          top: -63px;
        }
      }
    }
  }
}
