.bill_text {
  color: #4675ac;
  font-size: 0.9em;
  margin-top: 15%;
}

.small_bg, body .phone_1 .border_inner .box .bg_circle, body .phone_1 .border_inner .box .mob_circle {
  width: 62px;
  height: 20px;
  border-radius: 50%;
  background-color: #d6dcf05c;
  position: relative;
  bottom: -44px;
  left: 16px;
  z-index: -1;
}

.cards, body .phone_1 .border_inner .card_all .card_1, body .phone_1 .border_inner .card_all .card_2, body .phone_1 .border_inner .card_all .card_3 {
  width: 100%;
  height: 150px;
  border-radius: 18px;
}

.boxes_line, body .phone_1 .border_inner .line .box_1, body .phone_1 .border_inner .line .box_2, body .phone_1 .border_inner .box_one {
  border-radius: 10px;
  min-height: 50px;
  padding: 7px;
  background-color: #f7a2a6;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.text-line, body .phone_1 .border_inner .line .box_1 .pay_text, body .phone_1 .border_inner .line .box_2 .pay_text {
  font-size: 0.7em;
  text-transform: capitalize;
  margin-top: 10px;
}

body {
  height: 3000px;
  background-color: #c9d3ee;
}

body .phone_1 {
  border: 2px solid white;
  position: relative;
  min-height: 700px;
  border-radius: 40px;
}

body .phone_1 .border_inner {
  position: relative;
  background-color: #f8faff;
  border: 10px solid #e6e9fb;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 40px;
  padding: 10px;
}

body .phone_1 .border_inner .img_persone {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #212529;
}

body .phone_1 .border_inner .title_services {
  font-size: 1.5em;
  color: #4675ac;
}

body .phone_1 .border_inner .box {
  -webkit-box-shadow: 0 0 8px #c9d3ee;
          box-shadow: 0 0 8px #c9d3ee;
  border-radius: 10px;
  min-height: 100px;
  z-index: 20;
}

body .phone_1 .border_inner .box.mr_one {
  margin-right: 1px;
  margin-left: 14px;
}

body .phone_1 .border_inner .box .building {
  font-size: 2em;
  z-index: 10;
}

body .phone_1 .border_inner .box .fa-mobile {
  font-size: 3em;
}

body .phone_1 .border_inner .box .mob_circle {
  bottom: -51px;
  left: 16px;
}

body .phone_1 .border_inner footer {
  background-color: #eceffa;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  height: 65px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 27px;
}

body .phone_1 .border_inner footer .center_circle {
  background-color: #f8faff;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  position: relative;
  top: -35px;
  left: 10px;
  cursor: pointer;
}

body .phone_1 .border_inner footer .center_circle:after {
  content: '+';
  background-color: #f8faff;
  position: absolute;
  top: 1px;
  left: 4px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 2px solid #000;
  font-size: 2em;
  line-height: 36px;
}

body .phone_1 .border_inner footer .size_icon {
  font-size: 1.6em;
}

body .phone_1 .border_inner .my_card_text {
  font-weight: bold;
  font-size: 1.3em;
  color: #4675ac;
}

body .phone_1 .border_inner .circle_plus {
  -webkit-box-shadow: 0 0 7px #c9d3ee;
          box-shadow: 0 0 7px #c9d3ee;
  width: 40px;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

body .phone_1 .border_inner .circle_plus .plus_icon_color {
  color: #4675ac;
}

body .phone_1 .border_inner .card_all {
  padding: 10px;
  position: relative;
}

body .phone_1 .border_inner .card_all .card_1 {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  background-color: #f7a2a6;
  z-index: 1;
  height: 140px;
}

body .phone_1 .border_inner .card_all .card_2 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: #4171ab;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 21px;
  width: 80%;
  height: 140px;
}

body .phone_1 .border_inner .card_all .card_3 {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: -32px;
  left: -29px;
  width: 82%;
}

body .phone_1 .border_inner .card_all .carde_text {
  color: #4675ac;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: capitalize;
}

body .phone_1 .border_inner .card_all .div {
  width: 48px;
  height: 32px;
  border: 1px solid #4675ac;
  border-radius: 5px;
  position: relative;
}

body .phone_1 .border_inner .card_all .div .bar_one {
  position: absolute;
  left: 29px;
  top: 5px;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
}

body .phone_1 .border_inner .card_all .div .bar_two {
  text-align: right;
  float: right;
  position: absolute;
  left: 1px;
  top: 5px;
  font-size: 1.2em;
}

body .phone_1 .border_inner .card_all .m_top {
  position: relative;
  top: 20px;
}

body .phone_1 .border_inner .card_all .m_top .start {
  color: #4675ac;
  font-weight: bold;
}

body .phone_1 .border_inner .card_all .fa-circle {
  font-size: 1.5em;
}

body .phone_1 .border_inner .card_all .fa-circle:nth-child(1) {
  margin-left: -5px;
  color: #ffadad;
}

body .phone_1 .border_inner .card_all .fa-circle:nth-child(2) {
  margin-left: -14px;
  color: #4675ac7a;
}

body .phone_1 .border_inner .line .box_1 .repeat_icon {
  font-size: 0.8em;
}

body .phone_1 .border_inner .line .box_2 {
  -webkit-box-shadow: 0 0 6px #ddd;
          box-shadow: 0 0 6px #ddd;
  background-color: transparent;
  color: #4675ac;
}

body .phone_1 .border_inner .line .box_2 .repeat_icon {
  font-size: 0.8em;
}

body .phone_1 .border_inner .line .box_2:hover {
  background-color: #f7a2a6;
  color: white;
}

body .phone_1 .border_inner .slide_box {
  height: 262px;
  position: relative;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 15px;
  background-color: #eceffa87;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

body .phone_1 .border_inner .slide_box .line_small {
  position: absolute;
  top: 10px;
  left: 40%;
  width: 20%;
  height: 3px;
  background-color: #ddd;
  border-radius: 10px;
}

body .phone_1 .border_inner .slide_box .search_title {
  margin-top: 4%;
}

body .phone_1 .border_inner .slide_box .search_title .title_recent {
  font-weight: bold;
  color: #4675ac;
  margin-top: 20px;
}

body .phone_1 .border_inner .slide_box .icon_left {
  width: 50px;
  height: 50px;
  border: 1px solid #4675ac;
  border-radius: 50%;
  text-align: center;
  line-height: 51px;
}

body .phone_1 .border_inner .slide_box .icon_left .fa-ticket,
body .phone_1 .border_inner .slide_box .icon_left .fa-shopping-bag {
  font-size: 1.4em;
  color: #4675ac;
}

body .phone_1 .border_inner .slide_box .icon_left .fa-heart {
  color: #ffa4a4;
  font-size: 1.3em;
}

body .phone_1 .border_inner .slide_box .text_slide {
  position: relative;
  top: -51px;
  left: 66px;
}

body .phone_1 .border_inner .slide_box .text_slide .bill_pay {
  font-size: 0.9em;
  font-weight: bold;
  color: #4675ac;
}

body .phone_1 .border_inner .slide_box .text_slide .hour {
  font-size: 0.8em;
  color: #777;
  position: relative;
  top: -5px;
}

body .phone_1 .border_inner .slide_box .price {
  color: #ffadad;
  font-weight: bold;
}

body .phone_1 .border_inner .slide_box .top_m {
  position: relative;
  top: -31px;
}

body .phone_1 .border_inner .slide_box .top_mm {
  position: relative;
  top: -63px;
}

body .phone_1 .border_inner .print_finger {
  margin-top: 40%;
  text-align: center;
}

body .phone_1 .border_inner .print_finger img {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
}

body .phone_1 .border_inner .print_finger .scan_title {
  font-size: 1.1em;
  font-weight: bold;
}

body .phone_1 .border_inner .box_one {
  padding-bottom: 15px;
  cursor: pointer;
}

body .phone_1 .border_inner .box_one i {
  font-size: 1.3em;
}

body .phone_1 .border_inner .box_one .qr_text {
  font-size: 0.7em;
  margin-top: 10px;
}

body .phone_1 .border_inner .box_two {
  -webkit-box-shadow: 0 0 7px #c9d3ee;
          box-shadow: 0 0 7px #c9d3ee;
  padding: 11px;
  border-radius: 15px;
  cursor: pointer;
}

body .phone_1 .border_inner .box_two i {
  font-size: 1.3em;
}

body .phone_1 .border_inner .box_two .qr_text {
  font-size: 0.7em;
  margin-top: 10px;
}

body .phone_1 .border_inner .box_three {
  -webkit-box-shadow: 0 0 7px #c9d3ee;
          box-shadow: 0 0 7px #c9d3ee;
  padding: 11px;
  border-radius: 15px;
  cursor: pointer;
}

body .phone_1 .border_inner .box_three i {
  font-size: 1.3em;
}

body .phone_1 .border_inner .box_three .qr_text {
  font-size: 0.7em;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */